::ng-deep .filter-container {
  .circular-btn {
    width: 40px;
    height: 40px;
  }
  .filter-item {
    min-width: 200px;
    max-width: 100%;
    width: 100%;
  }
  .date-item {
    max-width: 100% !important;
  }
}

.filter-search-container {
  border-top-right-radius: 64px;
  border-bottom-right-radius: 64px;
  width: 60px;
}
