<div
  class="about-screen bg-image flex justify-content-center align-content-center"
>
  <div class="boxed-container flex justify-content-center align-content-center">
    <div class="grid justify-content-center mt-5">
      <div
        class="col-12 flex justify-content-center align-content-center flex-column"
      >
        <!-- <div class="flex justify-content-center">
          <div class="logo equafly-logo"></div>
        </div> -->
        <p
          class="text-7xl text-center md:text-left mb-5 text-primary font-bold"
        >
          {{ "about.about_us" | translate }}
        </p>
        <p class="font-medium text-xl text-center text-white">
          {{ "about.para" | translate }}
        </p>
      </div>
      <!-- <div class="col-12 flex justify-content-center">
        <div class="logo equafly-logo"></div>
      </div> -->
    </div>
  </div>
</div>
