.home-screen {
  height: 100vh;
  padding-top: 82px;
  ::ng-deep .p-card-body {
    padding-left: 32px !important;
    padding-right: 64px !important;
  }
}

::ng-deep .ngx-pagination .current {
  background: var(--primary-color) !important;
  border-radius: 50%;
  //   color: var(--white-color);
}
::ng-deep .ngx-pagination a:hover,
.ngx-pagination button:hover {
  background: var(--primary-color) !important;
  border-radius: 50%;
}
::ng-deep .ngx-pagination .current {
  padding-top: 5px !important;
  font-size: 1rem;
}

::ng-deep .ngx-pagination a {
  color: var(--surface-900) !important;
}

.logo {
  width: 90%;
  @media only screen and (min-width: 992px) {
    width: 50%;
  }
  max-width: 100%;
  aspect-ratio: 2.61;
  flex-shrink: 0;
}
